NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://sarthaklodhi:Kakeeee@cluster0.i0nrpp9.mongodb.net/mydb?retryWrites=true&w=majority&appName=Cluster0
CLIENT_URL=http://localhost:5173
JWT_ACCESS_SECRET=replace-with-a-long-random-access-secret
JWT_REFRESH_SECRET=replace-with-a-long-random-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
COOKIE_DOMAIN=localhost
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
